textarea {
    font-size:x-large;
}

label {
    width:10em;
    color:black;
    background:#f0f0ee;
    display:inline-block;
}

select {
    width:17em;
}

.error-border {
    border: 2px solid red;
    /*border-radius: 7px;*/
    border-color: red;
    box-shadow:0 0 10px red;

}