body, html {
	height:auto;
	overflow-y:hidden;
	overflow:hidden;
}
form{
	display:inline-block;
	margin:0px;
	padding:0px;
	border:0px;
}
.ie body {min-width:1250px;width:1250px;background-color:#000000;}
.bgOverlay {
	position:fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	background-image:url("images/bg1.png");
	background-repeat:repeat;
	opacity:0.03;
	filter:alpha(opacity=3); /* For IE8 and earlier */
	z-index: -900;
}
.topButtons {
	text-align:right;
	margin:0px;
	padding-top:3px;
	padding-bottom:3px;
	width:100%;
}
.tbBtn{
	border:0px;
	background-color:rgba(0,0,0,0);
	color:rgb(240,240,240);
	font-weight:bold;
	text-shadow: -1px 0 rgba(0,0,0,0.05), 0 1px rgba(0,0,0,0.05),
      1px 0 rgba(0,0,0,0.05), 0 -1px rgba(0,0,0,0.05);
	outline:none;
}
.tbBtn:hover{
	color:rgb(110,110,205);
	text-shadow: -2px 0 rgba(0,0,255,0.05), 0 2px rgba(0,0,255,0.05),
      2px 0 rgba(0,0,255,0.05), 0 -2px rgba(0,0,255,0.05);
	cursor: pointer; cursor: hand;
}
.centerColumn {
	margin-left:3%;
	width:94%;
	text-shadow: -1px 0 rgba(0,0,0,0.05), 0 2px rgba(0,0,0,0.05),
      2px 0 rgba(0,0,0,0.05), 0 -1px rgba(0,0,0,0.05);
}
.leftBar, .rightBar {
	position:fixed;
	top:0px;
	bottom:0px;
	width:3%;
	background-color:rgba(0,0,0,0.1);
}
.leftBar{
	left:0px;
}
.rightBar{
	right:0px;
}
.text {
text-align:center;
color:white;
font-size:35px;
font-family:"Verdana", Verdana, Sans-serif;
min-height:400px;
max-height:400px;
}
.hr1 {
width:100%;
}

/* Line between text and choices */
.hr2 {
min-width:500px;
max-width:500px;
}

/* Box surrounding choices */
.choiceBox{
	text-align:center;
}

/* Choice and continue buttons */
.choiceBtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #e2e2e2;
	-webkit-box-shadow:inset 0px 1px 0px 0px #e2e2e2;
	box-shadow:inset 0px 1px 0px 0px #e2e2e2;
	background-color:#c4c4c4;
	-webkit-border-top-left-radius:14px;
	-moz-border-radius-topleft:14px;
	border-top-left-radius:14px;
	-webkit-border-top-right-radius:14px;
	-moz-border-radius-topright:14px;
	border-top-right-radius:14px;
	-webkit-border-bottom-right-radius:14px;
	-moz-border-radius-bottomright:14px;
	border-bottom-right-radius:14px;
	-webkit-border-bottom-left-radius:14px;
	-moz-border-radius-bottomleft:14px;
	border-bottom-left-radius:14px;
	text-indent:0;
	border:1px solid #b4b4b4;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:59px;
	line-height:59px;
	width:142px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #9f9f9f;
}
.choiceBtn:hover {
	background-color:#9e9e9e;
}
.choiceBtn:active {
	position:relative;
	top:1px;
}
.storybg_box{
	margin:0px;
	padding:0px;
}

/* Vertical line between choices*/
.vr {
	vertical-align:top;
	display:inline-block;
	width:2px;
	height:75px;
	background-color:rgba(0,0,0,0.05);
	margin-left:2px;
	margin-right:2px;
}

/* Spinner that shows during load */
.loaderImg{
	width:16px;
	height:16px;
	margin-left:49%;
	margin-right:8px;
	margin-top:30%;
}